<h1><%= @warehouse[0]["name"] %></h1>
<h2><%= @warehouse[0]["code"] %></h2>
<dl>
  <dt>Descrição</dt>
  <dd><%= @warehouse[0]["description"] %></dd>
  <dt>Endereço</dt>
  <dd><%= @warehouse[0]["address"] %> - <%= @warehouse[0]["city"] %>/<%= @warehouse[0]["state"] %></dd>
  <dt>CEP:</dt>
  <dd><%= @warehouse[0]["postal_code"] %></dd>
  <dt>Área Total:</dt>
  <dd><%= @warehouse[0]["total_area"] %> m2</dd>
  <dt>Área Útil:</dt>
  <dd><%= @warehouse[0]["useful_area"] %> m2</dd>
